*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4fbff;
    padding:40px;
}

.container{
    max-width:900px;
    margin:auto;
}

h1{
    text-align:center;
    color:#023e8a;
    margin-bottom:40px;
}

/* Appointment Card */

.appointment-card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    margin-bottom:25px;
}

.appointment-card h3{
    color:#0096c7;
    margin-bottom:15px;
}

.appointment-card p{
    margin-bottom:10px;
    line-height:1.5;
}

/* Buttons */

.button-group{
    margin-top:20px;
    display:flex;
    gap:15px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color:white;
    font-size:15px;
}

.reschedule-btn{
    background:#0096c7;
}

.reschedule-btn:hover{
    background:#0077b6;
}

.cancel-btn{
    background:#e63946;
}

.cancel-btn:hover{
    background:#c1121f;
}

#message{
    text-align:center;
    margin-top:20px;
    font-weight:bold;
}