*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4fbff;
}

/* Navbar */

.navbar{
    background:#023e8a;
    color:white;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar button{
    padding:10px 20px;
    border:none;
    background:white;
    color:#023e8a;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

/* Dashboard */

.dashboard-container{
    padding:40px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    gap:25px;
}

/* Cards */

.card{
    background:white;
    padding:25px;
    border-radius:18px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.card h3{
    color:#0096c7;
    margin-bottom:20px;
}

.card p{
    margin-bottom:12px;
    line-height:1.5;
}

.card ul{
    padding-left:20px;
}

.card ul li{
    margin-bottom:10px;
}

.card button{
    margin-top:15px;
    padding:10px 18px;
    border:none;
    background:#0096c7;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.card button:hover{
    background:#0077b6;
}