*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4fbff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

.profile-container{
    background:white;
    width:900px;
    display:flex;
    gap:40px;
    padding:40px;
    border-radius:20px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    flex-wrap:wrap;
}

/* Doctor Image */

.doctor-image{
    flex:1;
    text-align:center;
}

.doctor-image img{
    width:280px;
    height:280px;
    object-fit:cover;
    border-radius:20px;
}

/* Doctor Details */

.doctor-details{
    flex:1;
}

.doctor-details h1{
    color:#023e8a;
    margin-bottom:10px;
}

.doctor-details h3{
    color:#0096c7;
    margin-bottom:20px;
}

.doctor-details p{
    line-height:1.7;
    margin-bottom:20px;
}

/* Detail Boxes */

.detail-box{
    background:#eef8ff;
    padding:15px;
    border-radius:12px;
    margin-bottom:15px;
}

.detail-box h4{
    color:#023e8a;
    margin-bottom:5px;
}

/* Button */

button{
    margin-top:20px;
    padding:14px 28px;
    border:none;
    background:#0096c7;
    color:white;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0077b6;
}

/* Responsive */

@media(max-width:768px){

    .profile-container{
        flex-direction:column;
        text-align:center;
    }

    .doctor-image img{
        width:220px;
        height:220px;
    }
}