*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo{
    color: #0096c7;
    font-size: 28px;
    font-family:fantasy;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 25px
}
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition:0.3s;
}
.nav-links a:hover{
    color: #0096c7;
}
.book-btn{
    padding:10px 20px;
    border: none;
    background-color: #0096c7;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}
.book-btn:hover{
    background-color: #00779e;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 50px;
}
.banner-text{
    flex:1;
}
.banner-text h1{
    font-size:52px;
    color: #023e8a;
    margin-bottom: 30px;
}
.banner-text p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.banner-btn{
    padding: 14px 30px;
    border: none;
    background-color: #0096c7;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.banner-btn:hover{
    background-color: #00779e;
}
.banner-image{
    flex:1;
}
.banner-image img{
    width: 100%;
    border-radius: 20px;
}

/* Services */

.services{
    padding: 60px 8%;
    text-align: center;  
}

.services h2{
    font-size: 38px;
    color: #023e8a;
    margin-bottom: 40px;
}

.service-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.service-card{
    background-color: white;
    padding: 30px;
    width: 300px;
    border-radius: 18px;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.service-card:hover{
    transform: translateY(-8px);
}

.service-card h3{
    color: #0096c7;
    margin-bottom: 25px;
}

.service-card p{
    line-height: 1.5;
}

/* Doctors */

.doctors{
    padding: 60px 8%;
    text-align: center;  
}

.doctors h2{
    font-size: 38px;
    color: #023e8a;
    margin-bottom: 40px;
}

.doctor-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.doctor-card{
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 18px;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.1);
}

.doctor-card img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

.doctor-card h3{
    color: #0096c7;
    margin-bottom: 10px;
}

/* Reviews */

.reviews{
    padding: 60px 8%;
    text-align: center;  
}

.reviews h2{
    font-size: 38px;
    color: #023e8a;
    margin-bottom: 40px;
}

.review-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.review-card{
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 18px;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.1);
}
/* Footer */

footer{
    background:#023e8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}