{% extends "layout.html" %}

{% block title %}Add Doctor{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-card register-card">

        <h2>
            <i class="fa-solid fa-user-plus"></i>
            Add New Doctor
        </h2>

        <p>
            Fill in the doctor's information below.
        </p>

        <form method="POST"  enctype="multipart/form-data">

            <div class="form-group">

                <label>Doctor Name</label>

                <input
                    type="text"
                    name="name"
                    placeholder="Enter doctor's name"
                    required>

            </div>

            <div class="form-group">

                <label>Specialization</label>

                <input
                    type="text"
                    name="specialization"
                    placeholder="e.g. Orthodontist"
                    required>

            </div>

            <div class="form-group">

                <label>Experience (Years)</label>

                <input
                    type="number"
                    name="experience"
                    placeholder="10"
                    required>

            </div>

            <div class="form-group">

                <label>Consultation Fees (₹)</label>

                <input
                    type="number"
                    name="fees"
                    placeholder="500"
                    required>

            </div>

            <div class="form-group">

                <label>Doctor Image</label>

                <input
                    type="file"
                    name="image"
                    accept="image/*"
                    placeholder="Upload Your Profile Photo"
                    required>

            </div>

            <div class="form-group">

                <label>About Doctor</label>

                <textarea
                    name="about"
                    rows="5"
                    placeholder="Write about the doctor..."
                    required></textarea>

            </div>

            <button class="btn auth-btn" type="submit">

                <i class="fa-solid fa-floppy-disk"></i>

                Save Doctor

            </button>

            <a href="{{ url_for('admin_dashboard') }}"
               class="btn btn-danger auth-btn"
               style="margin-top:15px;">

                Cancel

            </a>

        </form>

    </div>

</section>

{% endblock %}