{% extends "layout.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <div class="admin-header">

            <i class="fa-solid fa-user-shield admin-icon"></i>

            <h2>Administrator Login</h2>

            <p>
                Login to manage doctors, patients and appointments.
            </p>

        </div>

        <form method="POST">

            <div class="form-group">

                <label>Username</label>

                <input
                    type="text"
                    name="username"
                    placeholder="Enter admin username"
                    required
                >

            </div>

            <div class="form-group">

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

            </div>

            <button type="submit" class="btn auth-btn">

                <i class="fa-solid fa-right-to-bracket"></i>

                Login

            </button>

        </form>

        <div class="login-note">

            <h4>Default Admin Credentials</h4>

            <p><strong>Username:</strong> admin</p>

            <p><strong>Password:</strong> admin123</p>

        </div>

    </div>

</section>

{% endblock %}