{% extends "layout.html" %}

{% block title %}My Appointments{% endblock %}

{% block content %}

<section class="appointments-section">

    <h2>My Appointments</h2>

    {% if appointments %}

    <table class="appointment-table">

        <thead>

            <tr>
                <th>Doctor</th>
                <th>Specialization</th>
                <th>Date</th>
                <th>Time</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody>

        {% for appointment in appointments %}

            <tr>

                <td>{{ appointment['doctor_name'] }}</td>

                <td>{{ appointment['specialization'] }}</td>

                <td>{{ appointment['appointment_date'] }}</td>

                <td>{{ appointment['appointment_time'] }}</td>

                <td>{{ appointment['reason'] }}</td>

                <td>

                    {% if appointment['status']=="Pending" %}

                        <span class="status pending">
                            Pending
                        </span>

                    {% elif appointment['status']=="Approved" %}

                        <span class="status approved">
                            Approved
                        </span>

                    {% elif appointment['status']=="Rejected" %}

                        <span class="status rejected">
                            Rejected
                        </span>

                    {% else %}

                        <span class="status cancelled">
                            Cancelled
                        </span>

                    {% endif %}

                </td>

                <td>

                    {% if appointment['status']=="Pending" %}

                        <a href="{{ url_for('reschedule',
                        id=appointment['id']) }}"
                        class="btn-small edit">

                            Reschedule

                        </a>

                        <a href="{{ url_for('cancel',
                        id=appointment['id']) }}"
                        class="btn-small delete"
                        onclick="return confirm('Cancel this appointment?')">

                            Cancel

                        </a>

                    {% else %}

                        <span class="disabled-text">
                            No Action
                        </span>

                    {% endif %}

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {% else %}

    <div class="empty-state">

        <i class="fa-solid fa-calendar-xmark"></i>

        <h3>No Appointments Found</h3>

        <p>
            You haven't booked any appointments yet.
        </p>

        <a href="{{ url_for('doctors') }}" class="btn">

            Book Appointment

        </a>

    </div>

    {% endif %}

</section>

{% endblock %}