{% extends "layout.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}

<section class="dashboard-section">

    <div class="container">

        <div class="dashboard-header">

            <div>

                <h1>
                    <i class="fa-solid fa-user"></i>
                    My Profile
                </h1>

                <p>
                    Update your personal information.
                </p>

            </div>

        </div>

        <div class="dashboard-cards">

            <!-- Edit Form -->

            <div class="dashboard-card profile-form">

                <form method="POST">

                    <div class="form-group">

                        <label>Full Name</label>

                        <input
                            type="text"
                            name="name"
                            value="{{ patient['name'] }}"
                            required>

                    </div>

                    <div class="form-group">

                        <label>Email Address</label>

                        <input
                            type="email"
                            value="{{ patient['email'] }}"
                            readonly>

                    </div>

                    <div class="form-group">

                        <label>Phone Number</label>

                        <input
                            type="text"
                            name="phone"
                            value="{{ patient['phone'] }}"
                            required>

                    </div>

                    <button class="btn auth-btn">

                        <i class="fa-solid fa-floppy-disk"></i>

                        Update Profile

                    </button>

                </form>

            </div>

            <!-- Profile Card -->

            <div class="dashboard-card profile-card">

                <div class="profile-avatar">

                    <i class="fa-solid fa-circle-user"></i>

                </div>

                <h2>{{ patient['name'] }}</h2>

                <p class="role">
                    Registered Patient
                </p>

                <hr>

                <p>

                    <i class="fa-solid fa-envelope"></i>

                    {{ patient['email'] }}

                </p>

                <p>

                    <i class="fa-solid fa-phone"></i>

                    {{ patient['phone'] }}

                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}